.scroll-view .message-item {
  margin-top: 18px; /* 0.15rem * 120px = 18px */
  margin-bottom: 18px; /* 0.15rem * 120px = 18px */
  overflow: hidden;
  display: flex;
  padding: 3px;
}

.message-item.self {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.message-item .chat-avatar {
  margin-right: 12px; /* 0.1rem * 120px = 12px */
  margin-left: 0;
  width: 48px; /* 0.4rem * 120px = 48px */
  height: 48px; /* 0.4rem * 120px = 48px */
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 1px 1px 5px #d4d7de;
}

.message-item .chat-avatar img {
  display: flex;
  width: 100%;
  height: 100%;
}

.message-item.self .chat-avatar {
  margin-left: 12px; /* 0.1rem * 120px = 12px */
  margin-right: 0;
}

.chat-name {
  text-align: center;
  padding-left: 0;
  padding-right: 12px; /* 0.1rem * 120px = 12px */
  padding-top: 5px;
  font-size: 14px;
}

.self .chat-name {
  padding-left: 12px; /* 0.1rem * 120px = 12px */
  padding-right: 0;
}

.message_info {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.message_date {
  margin-right: 8px;
}

.self .message_info {
  justify-content: flex-end;
}

.chat-message {
  font-size: 20.4px; /* 0.17rem * 120px = 20.4px */
  line-height: 26.4px; /* 0.22rem * 120px = 26.4px */
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}

.chat-message .pending {
  width: 18px; /* 0.15rem * 120px = 18px */
  height: 18px; /* 0.15rem * 120px = 18px */
  margin-right: 6px; /* 0.05rem * 120px = 6px */
  flex-grow: 0;
  flex-shrink: 0;
}

.chat-message .send-fail {
  width: 18px; /* 0.15rem * 120px = 18px */
  height: 18px; /* 0.15rem * 120px = 18px */
  margin-right: 6px; /* 0.05rem * 120px = 6px */
  flex-grow: 0;
  flex-shrink: 0;
}

.chat-message .text-content {
  padding: 9.6px; /* 0.08rem * 120px = 9.6px */
  border-radius: 7.2px; /* 0.06rem * 120px = 7.2px */
  color: #ffffff;
  background: #618dff;
  word-break: break-all;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}

.chat-message .text-content img {
  width: 24px; /* 0.2rem * 120px = 24px */
  height: 24px; /* 0.2rem * 120px = 24px */
}

.chat-message .image-content {
  border-radius: 7.2px; /* 0.06rem * 120px = 7.2px */
  max-width: 180px; /* 1.5rem * 120px = 180px */
  max-height: 180px; /* 1.5rem * 120px = 180px */
}

.chat-message .image-content img {
  width: 100%;
  height: 100%;
}

.chat-message .file-content {
  width: 240px; /* 2rem * 120px = 240px */
  height: 96px; /* 0.8rem * 120px = 96px */
  background: #efefef;
  overflow: hidden;
  border-radius: 12px; /* 0.1rem * 120px = 12px */
  display: flex;
  align-items: center;
}

.chat-message .file-content img {
  width: 60px; /* 0.5rem * 120px = 60px */
  height: 60px; /* 0.5rem * 120px = 60px */
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 12px; /* 0.1rem * 120px = 12px */
}

.chat-message .file-content .description {
  font-size: 16.8px; /* 0.14rem * 120px = 16.8px */
  display: flex;
  flex-direction: column;
  width: 156px; /* 1.3rem * 120px = 156px */
}

.chat-message .file-content .description .title {
  height: 48px; /* 0.4rem * 120px = 48px */
  line-height: 24px; /* 0.2rem * 120px = 24px */
  width: 100%;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.chat-message .file-content .description .size {
  height: 36px; /* 0.3rem * 120px = 36px */
  width: 100%;
  text-align: left;
  font-size: 14.4px; /* 0.12rem * 120px = 14.4px */
  color: #666666;
}

.chat-message .video-content {
  position: relative;
  height: 180px; /* 1.5rem * 120px = 180px */
  max-width: 240px; /* 2rem * 120px = 240px */
  background: #000000;
}

.chat-message .video-content img {
  max-height: 180px; /* 1.5rem * 120px = 180px */
  max-width: 240px; /* 2rem * 120px = 240px */
}

.chat-message .video-content video {
  max-height: 180px; /* 1.5rem * 120px = 180px */
  max-width: 240px; /* 2rem * 120px = 240px */
}

.chat-message .video-content .video-play-icon {
  width: 24px; /* 0.2rem * 120px = 24px */
  height: 24px; /* 0.2rem * 120px = 24px */
  border-radius: 12px; /* 0.1rem * 120px = 12px */
  /* background:url("/static/images/play.png") no-repeat center; */
  background-size: 100%;
  top: 50%;
  left: 50%;
  margin: -12px; /* -0.1rem * 120px = -12px */
}

.chat-message .custom-message {
  width: 240px; /* 2rem * 120px = 240px */
  height: 156px; /* 1.3rem * 120px = 156px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 6px 18px; /* 0.05rem * 120px = 6px, 0.15rem * 120px = 18px */
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 24px 144px rgba(0, 0, 0, 0.1);
  border-radius: 12px; /* 0.1rem * 120px = 12px */
}

.chat-message .custom-message .title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px; /* 0.15rem * 120px = 18px */
  height: 30px; /* 0.25rem * 120px = 30px */
  overflow: hidden;
}

.chat-message .custom-message .title img {
  width: 24px; /* 0.2rem * 120px = 24px */
  height: 24px; /* 0.2rem * 120px = 24px */
}

.chat-message .custom-message .custom-message-item {
  text-align: left;
  font-size: 16.8px; /* 0.14rem * 120px = 16.8px */
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
